@import url('https://fonts.googleapis.com/css?family=Poppins');
.title-box {
    /* superheros title */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1166px;
    height: 42px;
    left: 120px;
    top: 460px;
}

.title-text {
    /* All superheros */
    position: static;
    width: 217px;
    height: 42px;
    left: 0px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;

    /* identical to box height */
    letter-spacing: 0.725381px;
    color: #FFFFFF;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.card {
    /* Content */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    width: 285px;
    height: 174px;
    left: 126px;
    top: 513px;

    background: rgba(54, 44, 106, 0.65);
    backdrop-filter: blur(27px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}
